# there is a comment
# Blank lines or lines starting with # are ignored
# коммент в конце строки нельзя делать, только с начала строки можно

# путь - то, что содержит хотя бы 1 слэш
# / и \ - одно и то же
# / в начале пути - корень проекта (но не ./)
# ** или <ничего> в начале имени файла/папки (но не в начале пути) - любая директория (все директории) (корень и любая подпапка)
# <путь>/** - сам путь и все подпапки (любая подпапка) текущего пути
# папка и файл не могут иметь полностью одинаковое имя (в одной папке)


# игнорирование folder
# папка
folder/
# папка или файл
/folder
# папка
/folder/

# игнорирование папки folder и .folder и файлов folder и .folder везде (но если перед . что-то есть, то оно не игнорится)
.folder

# игнорирование папки \folder2\folder2
folder2\folder2

# игнорирование file.txt везде
file.txt
**/file.txt

# игнорирования всех файлов с расширением txt2 в папке folder2 (без подпапок)
folder2/*.txt2
# игнорирования всех файлов с расширением txt2 в папке folder3 (и в подпапках)
folder3/**/*.txt2

# в папке folder3 (без подпапок) будут игнориться все file2 с любым расширенем
folder3/file2.*
